<!--<p>TRAVEL: {{travelLogs[0].travelId}}</p>
<button (click)="getTravelbyId('048b1b73-838c-11ea-9910-c3774c7a5de2')">Travel Id</button>-->




<div class="container">
    <h2 class="center-align">Travel logs</h2>
    <p>Travel ID: {{currentTravel.travelId}}</p>
    <p>Product: {{currentTravel.product}}</p>
    <p>Status: {{currentTravel.status}} </p>
    <a class="waves-effect waves-light btn" (click)="refresh()"><i class="material-icons">autorenew</i></a>
    <div class="assets chart">
        <div id="chartContainer"></div>
    </div>
    <div class="assets map">
        <agm-map 
            [latitude]="latitude" 
            [longitude]="longitude" 
            [zoom]="zoom" >
            <agm-marker 
            [latitude]="latitude" 
            [longitude]="longitude"></agm-marker>
        </agm-map>
    </div>
</div>



