agm-map {
    width: 705px;
    height: 400px;
}

.assets {
    position: relative;
}

.chart {
    margin-top: 10px;
}
.map {
    margin-top: 450px;
    margin-bottom: 40px;
    margin-left: 35px;
}
