<h5 class="center-align">ActiveTravel: {{activeTravel.travelId}}</h5>

<div class="container collection-travel">

    <ul class="collection">
        <li 
            *ngFor="let travel of travels"
            class="collection-item avatar"
        >
            <i class="material-icons circle ">subway</i>
            <span class="title">{{travel.travelId}}</span>
            <p><br>
                Product: {{travel.product}} <br>
                Date: {{travel.timestamp}}
            </p>
            <a *ngIf="travel.status" href="#!" class="secondary-content"><i class="material-icons medium">hdr_strong</i></a>

        </li>
      </ul>
    

</div>

<div class="container">
    <table class="striped table-logs" style="margin-bottom: 5%; padding-bottom: 10%;">
        <thead>
          <tr>
              <th>Id</th>
              <th>Device</th>
              <th>Date</th>
              <th>Ubicación</th>
              <th>Temperatura</th>
          </tr>
        </thead>

        <tbody *ngFor="let travelLog of travelLogs">
            <tr *ngFor="let log of travelLog.logs" >
                <td>{{travelLog.travelId}}</td>
                <td>{{log.deviceId}}</td>
                <td>{{log.timestamp}}</td>
                <td> {{log.location.lat}}, {{log.location.long}} </td>
                <td>{{log.temperature}}</td>
            </tr>
        </tbody>
      </table>
</div>

<!-- <button (click)="getTravels()">aber</button> -->

