<h5 class="center-align">ActiveTravel: {{activeTravel.travelId}}</h5>

<div class="container collection-travel">
    <a class="waves-effect waves-light btn" (click)="refreshTravels()"><i class="material-icons">autorenew</i></a>
    <ul class="collapsible">
        <li 
            *ngFor="let travel of travels"
            class="avatar"
        >
            <div class="collapsible-header">
                <div class="travel-header">
                    <i class="material-icons circle ">subway</i>
                
                    <span class="title">
                        {{travel.travelId}} <br/>
                        Product: {{travel.product}} <br/>
                        Date: {{formatDate(travel.timestamp)}}
                    </span>
                </div>
                <a *ngIf="travel.status" href="#!" class="secondary-content"><i class="active-icon material-icons">hdr_strong</i></a>
            </div>
            <div class="collapsible-body" *ngIf="getTravelLogsById(travel.travelId)">
                <table class="striped table-logs log-table">
                    <thead>
                      <tr>
                          <th>Device</th>
                          <th>Date</th>
                          <th>Ubicación</th>
                          <th>Temperatura</th>
                      </tr>
                    </thead>
            
                    <tbody>
                        <tr *ngFor="let log of getTravelLogsById(travel.travelId)" >
                            <td>{{log.deviceId}}</td>
                            <td>{{formatDate(log.timestamp)}}</td>
                            <td> {{log.location.lat}}, {{log.location.long}} </td>
                            <td>{{log.temperature}}</td>
                        </tr>
                    </tbody>
                  </table>
            </div>
            <div class="collapsible-body" *ngIf="!getTravelLogsById(travel.travelId)">
                <span>
                    No hay logs para el viaje {{travel.travelId}}
                </span>
            </div>
            </li>
      </ul>
</div>